<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content="" />
		<title>STALKER - Buscar Request</title>

		<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

		<script
			src="https://kit.fontawesome.com/268c979937.js"
			crossorigin="anonymous"
		></script>

		<script src="/js/custom.js"></script>

		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
			crossorigin="anonymous"
		/>

		<style>
			html,
			body {
				height: 100%;
			}

			body {
				display: flex;
				align-items: center;
				padding-top: 40px;
				padding-bottom: 40px;
				background-color: #f5f5f5;
			}

			.form-signin {
				max-width: 330px;
				padding: 15px;
			}

			.form-signin .form-floating:focus-within {
				z-index: 2;
			}

			.form-signin input[type="text"] {
				margin-bottom: 10px;
				border-bottom-right-radius: 0;
				border-bottom-left-radius: 0;
			}

			.form-signin input[type="date"] {
				margin-bottom: 10px;
				border-top-left-radius: 0;
				border-top-right-radius: 0;
				padding-bottom: 10px;
			}
		</style>
	</head>
	<body class="text-center">
		<main class="form-signin w-100 m-auto">
			<form>
				<i class="fa-solid fa-user-secret fa-9x"></i>
				<h1 class="h3 mb-3 fw-normal">STALKER</h1>

				<div class="form-floating">
					<input
						type="text"
						class="form-control"
						id="user"
						placeholder="fulano.sidia"
						required
					/>
					<label for="floatingInput">ID Samsung</label>
				</div>
				<div class="form-floating">
					<input
						type="date"
						class="form-control"
						id="date-initial"
						placeholder="Data Inicial"
						required
					/>
					<label for="floatingPassword">Data Inicial</label>
				</div>
				<div class="form-floating">
					<input
						type="date"
						class="form-control"
						id="date-final"
						placeholder="Data Final"
						required
					/>
					<label for="floatingPassword">Data Final</label>
				</div>

				<div class="verifier-date-feedback">
					<p class="invalid-feedback" style="display: none">
						Datas inválidas e/ou Usuário não encontrado!
					</p>
				</div>

				<div class="checkbox mb-3">
					<label>
						<input type="checkbox" value="remember-me" /> Remember me
					</label>
				</div>
				<button
					id="search-button"
					class="w-100 btn btn-lg btn-primary"
					type="button"
					onclick="buscarRequest()"
				>
					Buscar
				</button>
				<button
					id="loading-button"
					class="w-100 btn btn-lg btn-primary"
					type="button"
					style="display: none"
					disabled
				>
					<span
						class="spinner-grow spinner-grow-sm"
						role="status"
						aria-hidden="true"
					></span>
					<span class="sr-only">Loading...</span>
				</button>
				<p class="mt-5 mb-3 text-muted">&copy; SIDIA - 2023</p>
			</form>

			<!-- Modal -->
			<div
				class="modal fade"
				id="exampleModal"
				tabindex="-1"
				aria-labelledby="exampleModalLabel"
				aria-hidden="true"
			>
				<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
					<div class="modal-content">
						<div class="modal-header">
							<h1 class="modal-title fs-5" id="exampleModalLabel">
								Resultados da Busca
							</h1>
							<button
								type="button"
								class="btn-close"
								data-bs-dismiss="modal"
								aria-label="Close"
							></button>
						</div>
						<div class="modal-body">...</div>
						<div class="modal-footer">
							<button
								type="button"
								class="btn btn-secondary"
								data-bs-dismiss="modal"
							>
								Voltar
							</button>
						</div>
					</div>
				</div>
			</div>
		</main>

		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
			crossorigin="anonymous"
		></script>
	</body>
</html>
