<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content="" />
		<meta
			name="author"
			content="Mark Otto, Jacob Thornton, and Bootstrap contributors"
		/>
		<meta name="generator" content="Hugo 0.108.0" />
		<title>List groups · Bootstrap v5.3</title>

		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
			crossorigin="anonymous"
		/>

		<style>
			.bd-placeholder-img {
				font-size: 1.125rem;
				text-anchor: middle;
				-webkit-user-select: none;
				-moz-user-select: none;
				user-select: none;
			}

			@media (min-width: 768px) {
				.bd-placeholder-img-lg {
					font-size: 3.5rem;
				}
			}

			.b-example-divider {
				height: 3rem;
				background-color: rgba(0, 0, 0, 0.1);
				border: solid rgba(0, 0, 0, 0.15);
				border-width: 1px 0;
				box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
					inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
			}

			.b-example-vr {
				flex-shrink: 0;
				width: 1.5rem;
				height: 100vh;
			}

			.bi {
				vertical-align: -0.125em;
				fill: currentColor;
			}

			.nav-scroller {
				position: relative;
				z-index: 2;
				height: 2.75rem;
				overflow-y: hidden;
			}

			.nav-scroller .nav {
				display: flex;
				flex-wrap: nowrap;
				padding-bottom: 1rem;
				margin-top: -1px;
				overflow-x: auto;
				text-align: center;
				white-space: nowrap;
				-webkit-overflow-scrolling: touch;
			}

			.list-group {
				max-width: 460px;
				margin: 4rem auto;
			}

			.form-check-input:checked + .form-checked-content {
				opacity: 0.5;
			}

			.form-check-input-placeholder {
				border-style: dashed;
			}
			[contenteditable]:focus {
				outline: 0;
			}

			.list-group-checkable .list-group-item {
				cursor: pointer;
			}
			.list-group-item-check {
				position: absolute;
				clip: rect(0, 0, 0, 0);
			}
			.list-group-item-check:hover + .list-group-item {
				background-color: var(--bs-light);
			}
			.list-group-item-check:checked + .list-group-item {
				color: #fff;
				background-color: var(--bs-blue);
			}
			.list-group-item-check[disabled] + .list-group-item,
			.list-group-item-check:disabled + .list-group-item {
				pointer-events: none;
				filter: none;
				opacity: 0.5;
			}

			.list-group-radio .list-group-item {
				cursor: pointer;
				border-radius: 0.5rem;
			}
			.list-group-radio .form-check-input {
				z-index: 2;
				margin-top: -0.5em;
			}
			.list-group-radio .list-group-item:hover,
			.list-group-radio .list-group-item:focus {
				background-color: var(--bs-light);
			}

			.list-group-radio .form-check-input:checked + .list-group-item {
				background-color: var(--bs-body);
				border-color: var(--bs-blue);
				box-shadow: 0 0 0 2px var(--bs-blue);
			}
			.list-group-radio .form-check-input[disabled] + .list-group-item,
			.list-group-radio .form-check-input:disabled + .list-group-item {
				pointer-events: none;
				filter: none;
				opacity: 0.5;
			}
		</style>
	</head>
	<body>
		<div class="b-example-divider"></div>

		<div class="list-group list-group-checkable d-grid gap-2 border-0 w-auto">
			<input
				class="list-group-item-check pe-none"
				type="radio"
				name="listGroupCheckableRadios"
				id="listGroupCheckableRadios1"
				value=""
				checked
			/>
			<label
				class="list-group-item rounded-3 py-3"
				for="listGroupCheckableRadios1"
			>
				First radio
				<span class="d-block small opacity-50"
					>With support text underneath to add more detail</span
				>
			</label>

			<input
				class="list-group-item-check pe-none"
				type="radio"
				name="listGroupCheckableRadios"
				id="listGroupCheckableRadios2"
				value=""
			/>
			<label
				class="list-group-item rounded-3 py-3"
				for="listGroupCheckableRadios2"
			>
				Second radio
				<span class="d-block small opacity-50">Some other text goes here</span>
			</label>

			<input
				class="list-group-item-check pe-none"
				type="radio"
				name="listGroupCheckableRadios"
				id="listGroupCheckableRadios3"
				value=""
			/>
			<label
				class="list-group-item rounded-3 py-3"
				for="listGroupCheckableRadios3"
			>
				Third radio
				<span class="d-block small opacity-50"
					>And we end with another snippet of text</span
				>
			</label>

			<input
				class="list-group-item-check pe-none"
				type="radio"
				name="listGroupCheckableRadios"
				id="listGroupCheckableRadios4"
				value=""
				disabled
			/>
			<label
				class="list-group-item rounded-3 py-3"
				for="listGroupCheckableRadios4"
			>
				Fourth disabled radio
				<span class="d-block small opacity-50">This option is disabled</span>
			</label>
		</div>

		<div class="b-example-divider"></div>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
			crossorigin="anonymous"
		></script>
	</body>
</html>
